
<h1>Beaver Hacks</h1>
<nav>
    <ul>
        <li>
            <a href="/registration">Registration</a>
            <p>Page where participants go to register for hackathon or update their information. List of participants for current hackathon is displayed and can be searched, and participants can be deleted.</p>
        </li>
        <li>
            <a href="/teams">Teams</a>
            <p>Page where participants and administrators can add, update, and delete teams. List of teams for current hackathon is displayed and can be searched. Participants may be added and removed from teams.
        </li>
        <li>
            <a href="/projects">Projects</a>
            <p>Page where participants or administrators add, update, and delete projects. List of projects for current hackathon is displayed and can be searched.
        </li>
        <li>
            <a href="/admin">Admin</a>
            <p>Page for administrators to add or delete a hackathon. Also where current hackathon is set. List of all hackathons is displayed.</p>
        </li>
    </ul>
</nav>


